.pi-image-details {
    display: flex;
    gap: 1rem;
    color: rgb(219, 219, 219);
    padding-bottom: 40px;
    
    .pi-image-left {
        flex: 50%;
        img {
            background: white;
            width: 100%;
        }
    }

    .pi-content-right {
        flex: 50%;
        .pi-content-row {
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            padding-bottom: 20px;

            .pi-prop{
                flex: 25%;
            }

            .pi-value {
                flex: 75%;
                font-weight: bold;
            }

            .pi-add-to-favorites {
                font-weight: bold;
                cursor: pointer;
                color: white;
                margin-bottom: 30px;
                i {
                    text-shadow: 0px 1px 6px #ff61b58a;
                    font-size: 30px;
                    top: 3px;
                    position: relative;
                    margin-right: 9px;
                }
                &:hover i {
                    animation-name: beating;
                    animation-iteration-count: infinite;
                    transition-timing-function: cubic-bezier(0.59, -0.48, 1, 1);
                    animation-duration: 1s;
                }
            }
            
            i.pi-liked {
                color: #ff3450;
            }

            @keyframes beating {
                0% {
                    transform: scale(1);
                    color: white;
                }
    
                100% {
                    transform: scale(1.5);
                    color: #ff3450;
                }
            }
        }
    }
}