.pi-mosaic-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    padding-bottom: 30px;
    justify-items: start;

    .pi-image-wide {
        grid-column: span 2 / auto;
    }

    .pi-mosaic-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 320px;
    }

    .pi-image-loading {
        width: 100%;
        height: 100%;
        background-size: 200px 100%;
        background: linear-gradient(to right, #d5d5d5, #c2c2c2);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: loading-bg;
        transition-timing-function: linear;
    }

    .pi-animation-delay-1 {
        animation-delay: 0.5s;
    }
}


::ng-deep .pi-image-tall {
    grid-row: span 2 / auto;
}